 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                <p>Viasfora is a free extension for Visual Studio 2010 - 2015 that improves your text editing experience through the use of color and other features. Viasfora is mostly known for implementing Rainbow Braces for Visual Studio languages!</p>
              </div>
              <div class="col-lg-4">
                <p>Supported languages include: C#, C/C++, VB and VBScript, F#, JavaScript, TypeScript, CSS/LESS/SASS, SQL, PowerShell, Python, and R.</p>
              </div>
            </div>
        </div>
    </section>
