 <!-- About Section -->
    <section  id="download">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Download</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                  <div class='media'>
                    <div class='media-left media-middle'>
                      <a class="btn btn-lg btn-dload" href="https://marketplace.visualstudio.com/items?itemName=TomasRestrepo.Viasfora" role="button" title="Download from the Visual Studio Marketplace">
                        <i class="fa fa-download"></i>
                      </a>
                    </div>
                    <div class='media-body'>
                      <h4> Visual Studio Marketplace</h4>
                      <p>Download the VSIX file and install, or find it through the 'Extensions and Updates' dialog in Visual Studio.</p>
                    </div>
                  </div>
                  <div class='media'>
                    <div class='media-left media-middle'>
                      <a class="btn btn-lg btn-dload" href="http://github.com/tomasr/viasfora" role="button" title="Get the source at Github">
                        <i class="fa fa-github"></i>
                      </a>
                    </div>
                    <div class='media-body'>
                      <h4>GitHub</h4>
                      <p>Find the source code in the GitHub repository. You can also report problems and suggestions here.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
