<section id="usage" class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Usage</h2>
                <hr class="star-primary">
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <iframe width="680" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiMjFlZDE2ZjYtNWE5My00ODk3LWEwZjItNTA1M2MxZTJjYTUxIiwidCI6IjM1MGE4NjgwLTY2NzQtNDVjOS05ZDRhLTk2OTE1Y2QxMGYzOCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>